[Unit]
Description=Vika Bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/IloveViktoria
ExecStart=python3.9 /home/IloveViktoria/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target