[Unit]
Description=Timetable Debil
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/IloveViktoria
ExecStart=python3 /home/IloveViktoria/timetable.py
Restart=always

[Install]
WantedBy=multi-user.target